.root {
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid black;
    margin-right: 25px;
    margin-left: 0px;
    margin-top: 10px;
}

.cardContainer {
    flex-direction: column;
    display: grid;
    align-items: end;
    flex-wrap: wrap;
    margin: 0px;
    padding: 1px;
    grid-auto-flow: row;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    justify-items: center;
}

.title {
    margin: 0px 0px 10px;
    align-self: end;
}

.line {}

.donroot {
    border-top: 15px solid #BFD3F5;
}

.testdoneroot {
    border-right: 0px solid rgb(203, 38, 38);
}

.to-doroot {
    border-top: 15px solid #BD8BEE;
}