.root {
    display: flex;
    flex-direction: row;
    width: 200px;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.addButton {
    width: 35px;
    height: 35px;
    padding: 0px;
    margin: 17px;
}

.buttonText {
    margin-left: 0px;
    margin-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}