.root {
    border-radius: 30px;
    border: 1px solid #0C0C0C;
    display: flex;
}

.card {
    width: 200px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: block;
    height: 170px;
    align-content: space-evenly;
    align-items: start;
    margin-bottom: 0px;
    margin-left: 8px;
    border-radius: inherit;
}


.checkmark {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    align-self: end;
}

.cardTitle {
    padding: 0px 10px 0px 0px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 28px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
}


.icons {
    width: 35px;
    height: 35px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
    padding-left: 3px;
}

.paragraph {
    padding-bottom: 0px;
    margin-bottom: 0px;
    flex-shrink: 0;
    flex-basis: 4px;
    position: relative;
    bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}